iframe {
    overflow: hidden;
    border: 0;
}

#header #title {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

#header #title h1 {
    font-size: 5vw;
    color: transparent;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 18%, rgba(70,194,252,1) 75%);
    background-clip: text;
    -webkit-background-clip: text;
}

.social-icons {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.social-icons a {
  text-decoration: none;
  all: unset;
  color: white;
}

@media (max-width: 600px) {
    #header #title h1 {
        font-size: 9vw;
    }
}

@media (min-width: 1500px) {
    #header #title h1 {
        font-size: 70px;
    }
}