.header {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

.header h1 {
    font-size: 5vw;
    color: transparent;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 18%, rgba(70,194,252,1) 75%);
    background-clip: text;
    -webkit-background-clip: text;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 9vw;
    }
}

@media (min-width: 1500px) {
    .header h1 {
        font-size: 70px;
    }
}